.header {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 64px;
    color: #ffffff;
    width: 100%;
    letter-spacing: 0.03em;
    background: radial-gradient(
      40.86% 50% at 50% 50%,
      rgba(3, 210, 255, 0.58) 0%,
      rgba(19, 29, 39, 0.27) 100%
    );
  }

  /* h1 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
  } */
  /* End of header bar css */
  
  /* Navigation bar CSS */
  .navbar {
    background-color: #4a6a8f;
  }
  .navbar-item {
    color: white;
  }
  .navbar-start {
    background-color: #3d94c4;
  }
  .navbar-menu a.navbar-item:hover {
    background-color: #ea8a45;
    color: white;
  }
  
  .menu {
    height: 398px;
    width: 256px;
    left: 68px;
    top: 216px;
    border-radius: 3px;
  }
  
  .menu-list,
  .menu-label {
    
    padding-left: 5mm;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  /* End of header bar CSS */
  
  /* Place holder for buttons at the top */
  .pagebuttons {
    margin-top: 33px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #234a61;
  }
  
  .pagebuttons a {
    width: 230px;
    border-style: solid;
    background-color: #3d94c4;
    border-color: #25374B;
    text-align: center;
    color: white;
    border-radius: 4px;
    justify-content: center;
    display: flex;
  }
  /* End */
  
  /* Container for Satilite options for the map */
  .mapcont {
    height: 600px;
    width: 60%;
    margin-left: 20px;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #satcontainer {
    width: 100%;
    height: 60px;
    /* margin: 0 auto; */
    background-color: #234a61;
    /* display: flex; */
    justify-content: center;
  }
  /* .emptyplaceholder{
    margin-top: 33px;
    width: 30%;
    background-color: #4a6a8f;
    justify-content: center;
    margin-bottom: auto;
    max-width: 313px;
  } */
  .sat {
    /* margin-top: 33px; */
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    
  }
  /* End */
  
  /* Container for the map and checkbox */
  #wrap {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    background-color: #234a61;
    display: flex;
    justify-content: center;
  }
  /* End */
  
  /* Layers checkbox CSS */
  .leftbox1 {
    width: 30%;
    background-color: #4a6a8f;
    max-width: 313px;
    padding-top: 10px;
    margin-top: 33px;
    justify-content: center;
    margin-bottom: auto;
    background: #25374B;
  }
  li {
    background-color: #3d94c4;
    padding-left: 5mm;
    font-size: 20px;
    /* letter-spacing: 1mm; */
    border-style: solid;
    border-color: #25374B;
    color: white;
    font-family: Roboto;

    font-style: normal;
  }
  /* End */
  
  
  /* CSS for the map */
  #mapone {
    height: 600px;
    width: 100%;
    margin-left: 20px;
    /* margin-top: 33px; */
    flex-wrap: wrap;
  }
  /* End */