body,html {
    background-color: #234a61;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  /* STATUS PAGE */
  /* Header bar CSS */
  .header {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 64px;
    color: #ffffff;
    width: 100%;
    letter-spacing: 0.03em;
    background: radial-gradient(
      40.86% 50% at 50% 50%,
      rgba(3, 210, 255, 0.58) 0%,
      rgba(19, 29, 39, 0.27) 100%
    );
  }

  /* h1 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
  } */
  /* End of header bar css */
  
  /* Navigation bar CSS */
  .navbar {
    background-color: #4a6a8f;
  }
  .navbar-item {
    color: white;
  }
  .navbar-start {
    background-color: #3d94c4;
  }
  .navbar-menu a.navbar-item:hover {
    background-color: #ea8a45;
    color: white;
  }
  
  .menu {
    height: 398px;
    width: 256px;
    left: 68px;
    top: 216px;
    border-radius: 3px;
  }
  
  .menu-list,
  .menu-label {
    
    padding-left: 5mm;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  /* End of header bar CSS */
  
  /* Place holder for buttons at the top */
  .pagebuttons {
    margin-top: 33px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #234a61;
  }
  
  .pagebuttons a {
    width: 230px;
    border-style: solid;
    background-color: #3d94c4;
    border-color: #25374B;
    text-align: center;
    color: white;
    border-radius: 4px;
    justify-content: center;
    display: flex;
  }
  /* End */
  
  /* Container for Satilite options for the map */
  .mapcont {
    height: 600px;
    width: 60%;
    margin-left: 20px;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #satcontainer {
    width: 100%;
    height: 60px;
    /* margin: 0 auto; */
    background-color: #234a61;
    /* display: flex; */
    justify-content: center;
  }
  /* .emptyplaceholder{
    margin-top: 33px;
    width: 30%;
    background-color: #4a6a8f;
    justify-content: center;
    margin-bottom: auto;
    max-width: 313px;
  } */
  .sat {
    /* margin-top: 33px; */
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    
  }
  /* End */
  
  /* Container for the map and checkbox */
  #wrap {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    background-color: #234a61;
    display: flex;
    justify-content: center;
  }
  /* End */
  
  /* Layers checkbox CSS */
  .leftbox1 {
    width: 30%;
    background-color: #4a6a8f;
    max-width: 313px;
    padding-top: 10px;
    margin-top: 33px;
    justify-content: center;
    margin-bottom: auto;
    background: #25374B;
  }
  li {
    background-color: #3d94c4;
    padding-left: 5mm;
    font-size: 20px;
    /* letter-spacing: 1mm; */
    border-style: solid;
    border-color: #25374B;
    color: white;
    font-family: Roboto;

    font-style: normal;
  }
  /* End */
  
  
  /* CSS for the map */
  #mapone {
    height: 600px;
    width: 100%;
    margin-left: 20px;
    /* margin-top: 33px; */
    flex-wrap: wrap;
  }
  /* End */
  
  /* Container for Satilite options for the time series table */
  .timecont {
    height: 600px;
    width: 60%;
    margin-left: 20px;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #satcontainertwo {
    /* width: 71.5%; */
    height: 60px;
    margin: 0 auto;
    background-color: #131d27;
    /* display: flex; */
    justify-content: center;
  }
  .emptyplaceholdertwo{
    margin-top: 33px;
    width: 30%;
    background-color: #131d27;
    justify-content: center;
    margin-bottom: auto;
    max-width: 313px;
  }
  .sattwo {
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .statusbutton{
    width: 50%;
  }
  /* End */
  
  /* Container for the Parameter check box and data */
  .instrument_status {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #131d27;
  }
  /* End */
  
  /* Styling for the Parameter checkbox */
  .leftbox2 {
    width: 30%;
    background-color: #4a6a8f;
    max-width: 313px;
    padding-top: 10px;
    margin-top: 33px;
    justify-content: center;
    margin-bottom: auto;
    background: #25374B;
  }
  /* end */
  
  /* Syling for the times series placing */
  .time-series-box {
    background-color: white;
    height: 600px;
    width: 100%;
    margin-left: 20px;
    /* margin-top: 33px; */
    flex-wrap: wrap;
  }
  
  /* CSS for the footer */
  .footer {
    background-color: #0e1316;
    display: flex;
    justify-content: center;
    padding: 0mm;
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
  }
  .Qfooter{
    background-color: #0e1316;
    display: flex;
    justify-content: center;
    padding: 0mm;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .wlogo {
    display: flex;
    justify-content: center;
    height: 20px;
  }
  /* End */




  /* end of status page css */



  .mapheader,
.mapheader h3 {
  justify-content: center;
  height: 30px;
  color: #ea8a45;
  font-size: 100%;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: center;
}

#map {
  height: 600px;
  width: 50%;
  margin-left: 20px;
  margin-top: 33px;
  flex-wrap: wrap;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
h2 {
  display: flex;
  justify-content: center;
}
.bbutton {
  display: flex;
  justify-content: center;
}
.newtable {
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  width: 50%; 
  background-color: black;
  color: white;
  margin-bottom: auto;
  margin-top: 33px;
  max-width: 500px;
  height: 600px;
}
.newtable th{
  padding: 5%;
}

.newtable h2,label{
  color: white;
}
td, th {
  padding: 5%;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
}

#shour{
  display: flex;
  justify-content: center;
  margin: auto;
}

#ehour{
  display: flex;
  justify-content: center;
  margin: auto;
}

#startday{
  display: flex;
  justify-content: center;
  margin: auto;
}

#email{
  display: flex;
  justify-content: center;
  margin: auto;
}

.gdata{
    display: flex;
    margin-right: auto;
    align-items: center;
    margin: 5%;
    width: max-content;
}

/* Navigation bar and the styling please dont edit */
.navbar {
  background-color: #4a6a8f;
}
.navbar-item {
  color: white;
}
.navbar-start {
  background-color: #3d94c4;
}




/* end of query page css */

.text{
  color: white;
}
.title{
  color: #EA8A45;
}


